@model IEnumerable<Flight1.Web.Models.PersonViewModel>

@{
    ViewData["Title"] = "AllPersons";
}

<h2 class="h2" >All Persons</h2>

<p>
    <a asp-action="PersonCreate" class="btn-lg btn-primary p-1">Create Passenger</a>
</p>
<table class="table text-center">
    <thead class="thead-dark text-center table-responsive-md">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PersonId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job)
            </td>
            <td class="font-weight-bold font-italic">
                @Html.ActionLink("Edit", "PersonEdit", new { id = item.PersonId }) |
                @Html.ActionLink("Details", "PersonDetails", new { id = item.PersonId }) |
                @Html.ActionLink("Delete", "PersonDelete", new { id = item.PersonId })
            </td>
        </tr>
}
    </tbody>
</table>
